html {
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    background-color: #efefef;
}

img {
    padding: 3rem 35rem;
    width: 80%;
    height: 80%;
    margin: auto;
}

.contenedor {
    width: 50%;
    position: center;
    height: auto;
    padding: auto;
}

.botones {
    margin: 10rem;
    font-size: 30px;
    width: 70px;
    height: 70px;
    line-height: 70px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    font-weight: bold;
    position: fixed;
    color: #fff;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
    -webkit-transition: all 0.3 ease;
    -o-transition: all 0.3 ease;
    transition: all 0.3 ease;
}

.botones:hover {
    cursor: pointer;
    transform: scale(1.2, 1.2);
}

.atras {
    left: 2%;
    top: calc(50% - 70px);
}

.adelante {
    right: 2%;
    top: calc(50% - 70px);
}