html {
    font-family: 'Montserrat', sans-serif;
    min-height: 100%;
    position: relative;
}

body {
    margin: 0;
    margin-bottom: 40px;
    background-color: #0c0d12; /* Azul oscuro */
    color: #a6b2c1; /* Gris claro para el texto */
}

header {
    background-color: #2b3246; /* Azul grisáceo */
    color: #a6b2c1; /* Gris claro */
    padding: 0.7rem 0.7rem;
}

header h1 {
    font-size: 2.5rem;
    text-align: center;
    color: #FFFFFF; /* Blanco para el título */
}

.menu {
    list-style: none;
    width: 100%;
    background-color: #1e222f; /* Azul grisáceo más oscuro */
    margin: auto;
    overflow-x: auto; /* Agregamos esta propiedad */
    white-space: nowrap; /* Evita que los elementos se envuelvan */
}

.menu li a {
    text-decoration: none;
    color: #FFFFFF; /* Blanco para los enlaces */
    padding: 0.5rem 1rem; /* Ajustamos el relleno para agregar margen */
    display: inline-block; /* Cambiamos a inline-block para evitar envolver */
}

.objmenu {
    font-size: 1rem;
    color: #FFFFFF;
    padding: 0.5rem 0.5rem;
    display: inline-block;
    text-align: center;
}


.menu li:hover {
    background-color: #2b3246; /* Azul grisáceo más claro */
}

.container {
    width: 50%;
    margin: 1rem;
}

section article {
    transition: box-shadow 0.3s ease;
    background-color: #191c24; /* Azul grisáceo más oscuro */
    margin: 1rem 0;
    border-radius: 0.5rem;
    padding: 0.25rem 0;
    cursor: pointer;
}

section article:hover {
    box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.3);
}

section article h2,
section article p {
    margin: 1rem;
    color: #FFFFFF; /* Blanco para el texto dentro de los artículos */
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #2b3246; /* Azul grisáceo más claro */
    padding: 2rem;
    color: #FFFFFF; /* Blanco para el texto del pie de página */
}

footer section {
    float: right;
}

footer p {
    margin: 0;
}

footer a {
    transition: color 0.3s ease;
    color: #FFFFFF; /* Blanco para los enlaces del pie de página */
    text-decoration: none;
    margin-right: 1rem;
    margin-left: 1rem;
    padding-right: 2.3rem;
}

footer .buttons {
    width: 1.5rem;
    height: 1.5rem;
    transition: 0.3s ease;
    color: #FFFFFF; /* Blanco para los botones del pie de página */
    text-decoration: none;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    padding-right: 1.5rem;
}

footer a:hover {
    color: #a6b2c1; /* Gris claro al pasar el ratón sobre los enlaces del pie de página */
}

footer .buttons:hover {
    transform: scale(1.8);
}
